<div id="main-menu" class="main-menu">
    <div class="title"><span>Anúncios</span></div>
    <% if (admin == 1) { %>
        <div id="announce-new" class="announce-new"><i class='bx bx-plus-circle' ></i></div>
        <div id="modal-announce" class="modal-announce">
            <div class="modal-content">
                <div id="close-modal" class="close-modal"><i class='bx bx-x-circle' ></i></div>
                <textarea name="announce-text" id="announce-text" class="announce-text"></textarea>
            </div>
        </div>
    <% } %>
    <div class="announce-list">
        <div class="announce">TEstando anuncio adhsuashuda uhsudha sudh aushdu ahsud hasudhau hsduad TEstando anuncio adhsuashuda uhsudha sudh aushdu ahsud hasudhau hsduad TEstando anuncio adhsuashuda uhsudha sudh aushdu ahsud hasudhau hsduad TEstando anuncio adhsuashuda uhsudha sudh aushdu ahsud hasudhau hsduad TEstando anuncio adhsuashuda uhsudha sudh aushdu ahsud hasudhau hsduad TEstando anuncio adhsuashuda uhsudha sudh aushdu ahsud hasudhau hsduad </div>
        <div class="announce">TEstando anuncio adhsuashuda uhsudha sudh aushdu ahsud hasudhau hsduad TEstando anuncio adhsuashuda uhsudha sudh aushdu ahsud hasudhau hsduad TEstando anuncio adhsuashuda uhsudha sudh aushdu ahsud hasudhau hsduad TEstando anuncio adhsuashuda uhsudha sudh aushdu ahsud hasudhau hsduad TEstando anuncio adhsuashuda uhsudha sudh aushdu ahsud hasudhau hsduad TEstando anuncio adhsuashuda uhsudha sudh aushdu ahsud hasudhau hsduad </div>
        <div class="announce">TEstando anuncio adhsuashuda uhsudha sudh aushdu ahsud hasudhau hsduad TEstando anuncio adhsuashuda uhsudha sudh aushdu ahsud hasudhau hsduad TEstando anuncio adhsuashuda uhsudha sudh aushdu ahsud hasudhau hsduad TEstando anuncio adhsuashuda uhsudha sudh aushdu ahsud hasudhau hsduad TEstando anuncio adhsuashuda uhsudha sudh aushdu ahsud hasudhau hsduad TEstando anuncio adhsuashuda uhsudha sudh aushdu ahsud hasudhau hsduad </div>
        <div class="announce">TEstando anuncio adhsuashuda uhsudha sudh aushdu ahsud hasudhau hsduad TEstando anuncio adhsuashuda uhsudha sudh aushdu ahsud hasudhau hsduad TEstando anuncio adhsuashuda uhsudha sudh aushdu ahsud hasudhau hsduad TEstando anuncio adhsuashuda uhsudha sudh aushdu ahsud hasudhau hsduad TEstando anuncio adhsuashuda uhsudha sudh aushdu ahsud hasudhau hsduad TEstando anuncio adhsuashuda uhsudha sudh aushdu ahsud hasudhau hsduad </div>
    </div>
</div>