<div class="nav-bar">
    <div class="aside-text"><b><a href="/" style="color: var(--color1);"><img src="images/aside.png" alt=""></a></b></div>
    <div class="button-hamburger" id="button-hamburger">
        <div class="icon-account"><i class='bx bx-menu' ></i></div>
    </div>
</div>