<div class="nav-bar">
    <div class="aside-text"><b><a href="/" style="color: var(--color1);"><img src="images/aside.png" alt=""></a></b></div>
    <div class="button-account">
        <div class="icon-account"><a href="login"><i class='bx bx-user-circle'></i></a></div>
    </div>
</div>