<div class="side-bar">
    <div class="side-logo"><a href="/"><img src="images/aside.png" alt=""></a></div>
    <span class="side-button" id="my-account"><i class='bx bx-user-circle'></i>Minha Conta</span>
    <span class="side-button" id="my-bots"><i class='bx bx-bot' ></i>Meus Bots</span>
    <span class="side-account" id="account-info"><i class='bx bx-exit'></i>LOGOUT</span>
</div>