<div id="side-bar" class="side-bar">
    <div class="side-logo"><a href="/"><img src="images/azevedo.png" alt=""></a></div>
    <span class="side-button" id="my-account"><i class='bx bx-user-circle'></i>Minha Conta</span>
    <span class="side-button" id="my-bots"><i class='bx bx-bot' ></i>Meus Bots</span>
    <div class="side-account" id="logout-button"><i class='bx bx-exit'></i>Sair</div>
</div>