<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('components/head') %>
</head>
<body>
    <div class="container" id="container">
        <%- include('components/side-bar') %>
        <%- include(page) %>
    </div>
</body>
</html>