<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('components/head') %>
    <%- include('components/nav-bar') %>
</head>
<body >
    <form action="/login" method="POST">
        <div class="box-links">
            <div class="login-inputs">
                <label for="email">E-mail:</label>
                <input type="text" id="email" name="email" placeholder="E-mail">
                <label for="senha">Senha:</label>
                <input type="password" id="password" name="password" placeholder="Senha">
                <a href="signup" class="signup-button">Cadastre-se</a>
            </div>
            <center>
                <button type="submit" class="button-entrar" onclick="iniciarSessao()">ENTRAR</button>
            </center>
        </div>
    </form>
</body>
</html>