<html>
    <head>
        <%- include('components/head') %>
        <%- include('components/nav-bar') %>
    </head>

    <body>
        <form action="/signup" method="POST">
            <div class="box-links">
                <div class="login-inputs">
                    <label for="email">E-mail:</label>
                    <input type="text" id="email" name="email" placeholder="E-mail">
                    <label for="password">Senha:</label>
                    <input type="password" id="password" name="password" placeholder="Senha">
                    <label for="password-confirm">Confirmar Senha:</label>
                    <input type="password" id="password-confirm" name="password-confirm" placeholder="Confirmar Senha">
                </div>
                <center>
                    <button type="submit" class="button-entrar">Cadastrar</button>
                </center>
            </div>
        </form>
    </body>
</html>